.main {
    margin-top: 10px;
}

.thumbnail img{
    width: 150px;
    height: auto;
    margin: auto;
}

.thumbnail description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.price-cart {
    margin-right: 20px;
}

.border {
    border-color: 2px solid red;
}

.checkout {
    margin-top: 20px;
}

.total {
    margin-left: auto;
}

img.card-img-top.shop-image.img-fluid{
    margin-top: 20px;
    background-color: blue;
    width: 100px;
    height: 150px;
}

.card-block .description{
    width: 300px;
    height: 80px;
    overflow: hidden;

}
.card-title{
    width: 300px;
    height: 30px;
    overflow: hidden;
}

span.badge.price-cart {
    padding: 20px;
}